@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
body,
button {
  font-family: "Inter", sans-serif;
}
:root {
  --offcanvas-width: 270px;
  --topNavbarHeight: 65px;
}
.sidebar-nav {
  width: var(--offcanvas-width);
}
.sidebar-link {
  display: flex;
  align-items: center;
}
.sidebar-link .right-icon {
  display: inline-flex;
}
.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
}
@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }
  main {
    margin-left: var(--offcanvas-width);
  }
  /* this is to remove the backdrop */
  .offcanvas-backdrop::before {
    display: none;
  }
  .sidebar-nav {
    -webkit-transform: none;
    transform: none;
    visibility: visible !important;
    height: calc(100% - var(--topNavbarHeight));
    top: var(--topNavbarHeight);
  }
}

/* added by collins */
.navbar-dark, .bg-dark {
  background-color: #0d9dda !important;
}
.custom-nav-link {
  color: #fff !important;
  margin-right: 25px;
}
footer {
  background-color: #0d9dda;
  margin-top: 100px;
  padding: 50px;
}
.footer {
  margin-top: 100px;
  border-top:  1px dotted #333;
  padding: 20px;
  background-color: #f5f5f5;
  text-align: center;
  font-size: 14px;
}
.footer-link {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
.footer-link:hover {
  color: #fff;
  text-decoration: underline;
}
.footer-admin-credit a.footer-link {
  color: #444;
  text-decoration: none;
  font-size: 14px;
}
.footer-admin-credit a.footer-link:hover {
  color: #444;
  text-decoration: underline;
}
.footer-credit, .footer-web-credit {
  margin-top: 20px;
  border-top: 1px dotted #fff;
  padding-top: 30px;
  font-size: 14px;
  text-align: center;
  color: #fff;
}
.footer-credit a:link {
  text-decoration: none;
  color: #444;
}
.footer-web-credit a:link {
  color: #fff;
}
.welcome-message-larger h1 {
  color: #032d60;
  font-weight: 900;
  font-size: 57px;
  line-height: 1.2em;
  padding-top: 70px;
}
.welcome-message-larger p {
  font-size: 21px;
  line-height: 1.4em;
}
.welcome-message h1 {
  color: #032d60;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.4em;
  padding-top: 50px;
}
.welcome-message p {
  font-size: 18px;
  line-height: 1.5em;
}
.custom-title {
  color: #032d60;
}
.custom-btn-sm-primary {
  background-color: #0b8dc5;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  border: 2px solid #077cad;
  border-radius: 6px;
}
a.custom-btn-sm-primary {
  padding: 8px 14px;
}
button.custom-btn-sm-primary, input.custom-btn-sm-primary {
  padding: 4px 14px;
}
.custom-btn-sm-primary:hover{
  cursor: pointer;
  color: #fff;
  background-color: #0b84b8;
  border-color: #077cad;
}
.custom-btn-sm-outline-primary {
  color: #077cad;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  border: 2px solid #077cad;
  border-radius: 6px;
}
a.custom-btn-sm-outline-primary {
  padding: 8px 14px;
}
button.custom-btn-sm-outline-primary, input.custom-btn-sm-outline-primary {
  padding: 4px 14px;
}
.custom-btn-sm-outline-primary:hover{
  color: #fff;
  cursor: pointer;
  background-color: #0b84b8;
  border-color: #077cad;
}
.custom-btn-primary {
  background-color: #0b8dc5;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  border: 2px solid #077cad;
  border-radius: 6px;
}
a.custom-btn-primary {
  padding: 12px 18px;
}
button.custom-btn-primary, input.custom-btn-primary {
  padding: 8px 18px;
}
.custom-btn-primary:hover{
  cursor: pointer;
  color: #fff;
  background-color: #0b84b8;
  border-color: #077cad;
}
.custom-btn-outline-primary {
  color: #077cad;
  font-weight: 500;
  text-decoration: none;
  border: 2px solid #077cad;
  border-radius: 6px;
}
a.custom-btn-outline-primary {
  padding: 12px 18px;
}
button.custom-btn-outline-primary, input.custom-btn-outline-primary {
  padding: 8px 18px;
}
.custom-btn-outline-primary:hover{
  color: #fff;
  cursor: pointer;
  background-color: #0b84b8;
  border-color: #077cad;
}
.custom-btn-lg-primary {
  background-color: #0b8dc5;
  color: #fff;
  font-size: 21px;
  text-decoration: none;
  border: 2px solid #077cad;
  border-radius: 6px;
}
a.custom-btn-lg-primary {
  padding: 14px 28px;
}
button.custom-btn-lg-primary, input.custom-btn-lg-primary {
  padding: 10px 28px;
}
.custom-btn-lg-primary:hover{
  color: #fff;
  cursor: pointer;
  background-color: #0b84b8;
  border-color: #077cad;
}
.custom-btn-lg-outline-primary {
  color: #077cad;
  text-decoration: none;
  font-size: 21px;
  border: 2px solid #077cad;
  border-radius: 6px;
}
a.custom-btn-lg-outline-primary {
  padding: 14px 28px;
}
button.custom-btn-lg-outline-primary, input.custom-btn-lg-outline-primary {
  padding: 10px 28px;
}
.custom-btn-lg-outline-primary:hover{
  color: #fff;
  cursor: pointer;
  background-color: #0b84b8;
  border-color: #077cad;
}
.custom-link {
  color: #032d60;
  text-decoration: none;
}
.custom-link:hover {
  color: #032d60;
  text-decoration: underline;
}
#main-body {
  min-height: 550px;
}
.entity-list .entity-item {
  background-color: #f5f5f5;
  border-top: 2px solid #032d60;
  border-bottom: 1px dotted #032d60;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 20px;
}
.entity-list .entity-item a:link {
  text-decoration: none;
  color: #444;
}
.entity-list .entity-item a:hover {
  text-decoration: underline;
  color: #747474;
}
.support-ticket-option {
  border: 1px solid #032d60;
  border-top: 3px solid #032d60;
  border-radius: 6px;
  padding: 20px;
  margin-bottom: 40px;
}